# Docker
.dockerignore
Dockerfile

# Git
.git
.gitignore
.gitattributes

# Node
node_modules
kizunaback/node_modules
kizunafront-jp/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
venv
__pycache__
kizunaback/venv
kizunaback/__pycache__

# Env
.env
.env.*
kizunaback/.env
kizunafront-jp/.env

# Build artifacts
dist
kizunafront-jp/dist 